.posh-interface {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .posh-interface .div {
    background-color: #ffffff;
    border: 1px none;
    height: 1549px;
    position: relative;
    width: 1280px;
  }
  
  .posh-interface .overlap-group {
    height: 71px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .posh-interface .top-banner {
    align-items: center;
    background-color: #008a5f;
    display: flex;
    gap: 12px;
    height: 71px;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .posh-interface .text-wrapper {
    color: #ffffff;
    font-family: "Archivo-SemiBold", Helvetica;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.5px;
    position: relative;
    white-space: nowrap;
    width: 115px;
  }
  
  .posh-interface .text-wrapper-2 {
    color: #ffffff;
    font-family: "Archivo-SemiBold", Helvetica;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .text-wrapper-3 {
    color: #ffffff;
    font-family: "Archivo-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .ellipse {
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 50px;
    left: 1191px;
    position: absolute;
    top: 11px;
    width: 50px;
  }
  
  .posh-interface .overlap {
    height: 343px;
    left: 0;
    position: absolute;
    top: 71px;
    width: 1280px;
  }
  
  .posh-interface .banner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: fit-content;
  }
  
  .posh-interface .rectangle {
    height: 341px;
    min-width: 1280px;
    object-fit: cover;
    position: relative;
  }
  
  .posh-interface .p {
    color: #ffffff;
    font-family: "Archivo-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 361px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 189px;
    width: 581px;
  }
  
  .posh-interface .dont-get-stuck-on {
    height: 69px;
    left: 20px;
    position: absolute;
    top: 104px;
    width: 1249px;
  }
  
  .posh-interface .create-posh-button {
    align-items: center;
    background-color: #33c191;
    border-radius: 9px;
    display: flex;
    gap: 10px;
    height: 58px;
    justify-content: center;
    left: 424px;
    padding: 10px 0px 10px 10px;
    position: absolute;
    top: 285px;
    width: 396px;
  }
  
  .posh-interface .text-wrapper-4 {
    color: #ffffff;
    font-family: "Archivo-ExtraBold", Helvetica;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 308px;
  }
  
  .posh-interface .project-feature {
    align-items: flex-start;
    display: flex;
    gap: 18px;
    left: 328px;
    overflow-x: scroll;
    position: absolute;
    top: 420px;
    width: 624px;
  }
  
  .posh-interface .frame {
    align-items: flex-start;
    border: 1px solid;
    border-color: #000000;
    border-radius: 7px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: fit-content;
  }
  
  .posh-interface .text-wrapper-5 {
    -webkit-text-stroke: 1px #000000;
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .text-wrapper-6 {
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .filter-button {
    align-items: center;
    border: 1px solid;
    border-color: #000000;
    border-radius: 7px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 5px;
    height: 29px;
    justify-content: center;
    left: 1036px;
    position: absolute;
    top: 426px;
    width: 69px;
  }
  
  .posh-interface .page-info {
    height: 17px;
    min-width: 18px;
    position: relative;
  }
  
  .posh-interface .text-wrapper-7 {
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .frame-2 {
    align-items: flex-end;
    background-color: #33c191;
    display: flex;
    gap: 23px;
    height: 78px;
    left: 0;
    padding: 13px 18px;
    position: absolute;
    top: 1471px;
    width: 1280px;
  }
  
  .posh-interface .text-wrapper-8 {
    color: #ffffff;
    font-family: "Archivo-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .text-wrapper-9 {
    color: #ffffff;
    font-family: "Archivo-ExtraBold", Helvetica;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .text-wrapper-10 {
    color: #ffffff;
    font-family: "Archivo-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .featured-posh-frame {
    height: 267px;
    left: 16px;
    position: absolute;
    top: 844px;
    width: 1222px;
  }
  
  .posh-interface .text-wrapper-11 {
    color: #000000;
    font-family: "Archivo-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 474px;
    white-space: nowrap;
  }
  
  .posh-interface .new-posh-frame {
    align-items: flex-end;
    display: flex;
    gap: 68px;
    left: 28px;
    overflow-x: scroll;
    position: absolute;
    top: 523px;
    width: 1176px;
  }
  
  .posh-interface .frame-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
  }
  
  .posh-interface .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 6px;
    height: 228px;
    min-width: 228px;
    position: relative;
  }
  
  .posh-interface .div-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: #000000;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    height: 16px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 228px;
  }
  
  .posh-interface .text-wrapper-12 {
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -8px;
    margin-top: -10px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .posh-interface .building-backend-web {
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  